body div.top-header{
  background-color: black;
  color: aliceblue;
  align-items: center;
  display:flex;
  height: 60px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

body div.top-header div:first-child{
  width: 95%;
  text-align: center;
}

body div.top-header div:last-child{
  width: 5%;
}

body div.top-header div:last-child{
  opacity: 0.6;
  color: white;
  cursor: pointer;
}
/* La partie header */
/*header {
  display: flex;
  justify-content: space-around;
  background-color: white;

}
header  ul{
  display: flex;
  width: 40%;
}

header ul li{
  list-style: none;
}

header ul li a{
  text-decoration: none;
  color: black;
}

.last-li{
  background-color: black;
color: white;
} */


header{
  display: flex;
  justify-content: space-around;
}
header ul{
  display: flex;
  width: 40%;
}

header ul li{
  list-style: none;
  font-family: sans-serif;
  text-align: left;
  line-height: 28px;
  font-size: 13px;
  letter-spacing: normal;
}

header ul li a{
  text-decoration: none;
  padding: 13px;
  font-size: 20px;
  color: black;
}

.last-li{
  background-color: noir;
  color: white;
  border-radius: 2px;
}

body div.first-align{
  display: flex;
  background-color: rgb(237, 239, 242);
  justify-content: space-between;
  font-size: 17px;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  padding-top: 5px;
  padding-bottom: 10px;

}

body div.first-align div a{
  color: black;
}
body div.first-align div:first-child a{
text-decoration: none;
padding-left: 20px;
}

body div.first-align div:first-child a:hover {
  text-decoration: underline;
}

body div.first-align div:last-child a{
  text-decoration: none;
  padding-right: 20px;
}

body div.first-align div:last-child a:hover{
  text-decoration:none;
  background-color: gray;
}



body section.first-section{
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 15px;
  padding-right: 15px;
}

body section.first-section div:first-child{
  margin-left: 20px;
}

body section.first-section div:first-child a{
  text-decoration: none;
  color: #1B1B1B;
}

body section.first-section div:first-child li{
  list-style:square;
  margin-bottom:15px;

}


body section.first-section div:last-child{
  margin-right: 20px;
}
body section.first-section div:last-child li{
 list-style: none;
 margin-bottom: 20px;
}

body section.first-section div:last-child h3{
  font-size: 19px;
}
body section.first-section div:last-child a{
  text-decoration: none;
  color: #1B1B1B;
}
body section.first-section div:last-child a:hover {
  text-decoration:none;
  color: #2328bb;
}

body section.first-section div:nth-child(2) {
  display: grid;
  justify-content: center;
}

body section.first-section div:nth-child(2) h1 {
  padding-left: 150px;
  font-size:39px;
}

body section.first-section div:nth-child(2) p{
  padding-left: 150px;
  padding-right: 160px;
  margin-top:-80px;
  display: block;
  font-size: 16px;
  color:#1B1B1B;
  text-align: start;
  line-height: 18px;
  letter-spacing: normal;
}

body section.first-section{
  padding-top: 20px;
}
